.flat-list-item > div,
.list-group-heading {
  display: grid;
}

@media (min-width: 768px) {
  .flat-list-item > div,
  .list-group-heading {
    grid-gap: 1em;
    grid-template-columns: 1fr auto;
  }
}

.flat-list-item > div > a,
.list-group-heading > a {
  overflow-wrap: anywhere;
}
