<div role="navigation" aria-label="Main">
  <div class="nav-left">
    <a href="{{- absURL "" -}}" style="color: inherit;">{{- site.Title -}}</a>
  </div>
  <div class="nav-right">
    <div id="nav-menu">
      {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
    </div>
    <label id="side-drawer-link" for="side-drawer-toggle" tabindex="0" aria-label="{{ i18n "drawer_open" | default "Open side panel" }}">
      {{- partial "svg/drawer.svg" -}}
    </label>
    <a id="theme-switcher" href="#">
      {{- partial "svg/sun.svg" -}}
      {{- partial "svg/moon.svg" -}}
    </a>
  </div>
</div>
